// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : rgb(255,225,0)
$secondary : rgb(197,216,209)
$accent    : rgb(18,26,123)

$dark      : rgb(18,38,58)

$positive  : rgb(99, 214, 130)
$negative  : rgb(224, 128, 128)
$info      : rgb(74,153,232)
$warning   : rgb(244,91,105)

@import '~quasar-variables-styl'
